[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/tharun/axonaio/terraform/Terraform_paynpro/architecture.jpeg
Type=Link
URL=file:///home/tharun/axonaio/terraform/Terraform_paynpro/architecture.jpeg
Icon=image-jpeg
Name[en_IN]=architecture.jpeg
