[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/tharun/axonaio/terraform/Terraform_paynpro/README.md
Type=Link
URL=file:///home/tharun/axonaio/terraform/Terraform_paynpro/README.md
Icon=text-markdown
Name[en_IN]=readme.md
